.home{
    padding: 17px 1px 1px 23px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: auto;
    height: 690px;
}

.post-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid black;
    cursor: pointer;
}

.post-img{
    width: 400px;
    height: 350px;
    margin-top: 17px;
    border-radius: 5px;
}

.post-like{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.post-like img{
    width: 25px;
    height: 25px;
}

.post-tag{
    font-weight: 500;
}

.post-comment{
    font-weight: 500;
    cursor: pointer;
}

.user{
    display: flex;
    gap: 44px;
    align-items: center;
}

.user img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}

.input-search{
    border: 1px solid black;
    height: 28px;
    border-radius: 6px;
    width: 250px;
    margin-top: 17px;
    margin-right: 31px;
}